<p id="notice"><%= notice %></p>


<div class="col-md-3">
	<div class="thumbnail">
	<%= image_tag @listing.image.url, class: 'img-circle' %>
	</div>
</div>

<div class="col-med-2">
<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.price) %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
</div>
